footer {
	font-family: Montserrat;
	height: fit-content;
	display: flex;
	flex-direction: column;
	position: fixed;
	bottom: 0;
	z-index: 998;
	background-color: $blanc;
	width: 100%;
	padding: 0 5px;

	hr {
		width: 100%;
		background: linear-gradient(to left, $vert1, $vert2, $vert3, $vert4);
		border: none;
		height: 2px;
		box-sizing: border-box;
		margin-top: 0;
		align-self: center;
	}

	p,
	a {
		font-weight: 500;
	}

	p,
	nav {
		padding: 1vh 1rem;

		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;

			li {
				margin-right: 1rem;
				line-height: 2rem;

				a {
					color: $vert1;
				}
			}
		}
	}
}

@media #{$mqTabletp} {
	footer {
		max-height: 15vh;
		height: fit-content;

		nav {
			align-self: end;
		}
	}
}

@media #{$mqNotebookp} {

	footer {
		height: 80px;

		hr {
			margin: 0;
		}

		nav {
			padding: 1rem;
			background: none;
		}
	}
}