header {
	position: fixed;
	padding: 0;
	top: 0;
	z-index: 999;
	background-color: $blanc;
	width: 100vw;
	height: 70px;
	box-sizing: border-box;
	font-family: Montserrat;

	img {
		height: 2rem;
		margin: calc(1rem - 1px);

		&#logo {
			float: left;
		}

		&#cross,
		&#hamburger {
			float: right;
		}
	}

	nav {
		box-sizing: border-box;
		overflow: hidden;
		text-align: center;

		&.display {
			width: 100vw;
			height: 90vh;
			padding: 0 1rem 25vh;
			background-color: $blanc;
			z-index: 900;

			a {
				color: $vert2;
				font-weight: 500;

				&:hover {
					text-decoration: underline;
				}
			}
		}

		ul {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			li {
				border-style: solid;
				border-width: 0 0 1px 0;
				border-color: $vert2;
				padding: 1rem;
			}
		}
	}
}

@media #{$mqNotebookp} {
	header {
		display: flex;
		align-items: center;
		justify-content: left;
		height: 70px;
		border-bottom: solid 1px #c0c0c080;

		nav.display {
			height: fit-content;
			padding: 0 1rem 0;

			ul {
				flex-direction: row;
				justify-content: left;

				li {
					border: none;
				}
			}
		}
	}
}