header {
	position: fixed;
	padding: 0;
	top: 0;
	z-index: 999;
	background-color: $blanc;
	width: 100vw;
	height: 70px;
	box-sizing: border-box;
	font-family: Montserrat;

	img {
		height: 2rem;
		margin: calc(1rem - 1px);

		&#logo {
			float: left;
		}
	}

	#cross,
	#hamburger {
		height: 25px;
		width: 25px;
		margin: calc(1rem - 1px);
		float: right;
		display: flex;
		flex-direction: column;
		align-items: center;

		div {
			&.menu-icon {
				z-index: -1;
				border-color: $vert2;
				height: 20%;
				width: 90%;
				background-color: $vert2;
				border-radius: 5px;
				transition-duration: 500ms;
			}
		}
	}

	#hamburger {
		position: relative;
		justify-content: center;

		div {
			&.menu-icon {
				position: absolute;

				&#stroke-1 {
					animation: toHamb1 500ms forwards ease-in-out;
				}

				&#stroke-2 {
					animation: toHamb2 500ms forwards ease-in-out;
				}

				&#stroke-3 {
					animation: toHamb3 500ms forwards ease-in-out;
				}
			}
		}
	}

	#cross {
		position: relative;
		justify-content: center;

		div {
			&.menu-icon {
				position: absolute;

				&#stroke-1 {
					animation: toCross1 500ms forwards ease-in-out;
				}

				&#stroke-2 {
					animation: toCross2 500ms forwards ease-in-out;
				}

				&#stroke-3 {
					animation: toCross3 500ms forwards ease-in-out;
				}
			}
		}
	}

	nav {
		box-sizing: border-box;
		overflow: hidden;
		text-align: center;

		&.display {
			width: 100vw;
			height: 90vh;
			padding: 0 1rem 25vh;
			background-color: $blanc;
			z-index: 900;
			animation: dropRight 500ms forwards ease-in-out;


		}

		&.hide {
			width: 100vw;
			height: 90vh;
			padding: 0 1rem 25vh;
			background-color: $blanc;
			z-index: 900;
			animation: dropLeft 500ms forwards ease-in-out;
		}

		a {
			color: $vert2;
			font-weight: 500;

			&:hover {
				text-decoration: underline;
			}
		}

		ul {
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;

			li {
				border-style: solid;
				border-width: 0 0 1px 0;
				border-color: $vert2;
				padding: 1rem;
			}
		}
	}
}

@media #{$mqNotebookp} {
	header {
		display: flex;
		align-items: center;
		justify-content: left;
		height: 70px;
		border-bottom: solid 1px #c0c0c080;

		img {
			margin: calc(1rem - 1px) 0 calc(1rem - 1px) 3rem;
		}

		nav.display {
			height: fit-content;
			padding: 0 1rem 0;

			ul {
				flex-direction: row;
				justify-content: left;

				li {
					border: none;
				}
			}
		}
	}
}

@keyframes dropRight {
	0% {
		transform: translateX(100vw);
	}

	100% {
		transform: translateX(0vw);
	}
}

@keyframes dropLeft {
	0% {
		transform: translateX(0vw);
	}

	100% {
		transform: translateX(100vw);
	}
}

@keyframes toCross1 {
	0% {
		transform: translate(0, -50%) rotate(0deg);
		top: 20%;
		width: 100%;
	}

	100% {
		transform: translate(0, -50%) rotate(45deg);
		top: 50%;
		width: 100%;
	}
}

@keyframes toCross2 {
	0% {
		transform: translate(0, -50%);
		top: 50%;
		width: 100%;
	}

	100% {
		transform: translate(0, -50%);
		top: 50%;
		width: 0%;
	}
}

@keyframes toCross3 {
	0% {
		transform: translate(0, -50%) rotate(0deg);
		top: 85%;
		width: 100%;
	}

	100% {
		transform: translate(0, -50%) rotate(-45deg);
		top: 50%;
		width: 100%;
	}
}

@keyframes toHamb1 {

	0% {
		transform: translate(0, -50%) rotate(-45deg);
		top: 50%;
		width: 100%;
	}

	100% {
		transform: translate(0, -50%) rotate(0deg);
		top: 20%;
		width: 100%;
	}
}

@keyframes toHamb2 {

	0% {
		transform: translate(0, -50%);
		top: 50%;
		width: 0%;
	}

	100% {
		transform: translate(0, -50%);
		top: 50%;
		width: 100%;
	}
}

@keyframes toHamb3 {

	0% {
		transform: translate(0, -50%) rotate(45deg);
		top: 50%;
		width: 100%;
	}

	100% {
		transform: translate(0, -50%) rotate(0deg);
		top: 85%;
		width: 100%;
	}
}