#a-propos {
    overflow-x: hidden;
    width: 100%;
    height: calc(100vh - 70px);

    @media screen and (min-width: 1250px) {
        overflow: hidden;
    }

    h1 {
        margin-bottom: 30px;
        position: sticky;
        width: 100%;
        font-size: 1.75rem;
        margin: 0 2rem 0 1rem;

        @media screen and (min-width: 1250px) {
            display: none;
        }
    }


    main {
        height: 100%;

        // Début transition slider

        #slide1:checked~.slider {
            transform: translateX(0);
        }

        #slide2:checked~.slider {
            transform: translateX(-100vw);
        }

        input {
            display: none;
        }

        // Fin transition slider

        h2 {
            @media screen and (min-width: 1250px) {
                font-family: "Montserrat";
                font-size: 1.75rem;
                margin-bottom: 40px;
                padding-left: 30px;
                font-weight: 600;
                position: relative;
            }

            @media #{$mqDesktop} {
                font-family: "Montserrat";
                font-size: 2.25rem;
                margin-bottom: 40px;
                padding-left: 30px;
                font-weight: 600;
                position: relative;
            }
        }


        .slider {
            display: flex;
            transition: transform 0.5s ease;
            width: 200vw;

            @media screen and (min-width: 1250px) {
                height: 100%;
            }





            .paragraph-mobile {
                margin: 0 2rem 2rem;

                padding-bottom: 5rem;

                @media #{$mqTablet} {
                    padding-top: 50px;
                }

                @media screen and (min-width: 1250px) {
                    display: none;
                }

                .no-desk {
                    @media screen and (min-width: 1250px) {
                        display: none;
                    }
                }
            }

            .paragraph-desk {
                display: none;

                @media screen and (min-width: 1250px) {
                    display: block;
                    line-height: 1.75rem;
                }
            }


            p {
                font-family: "Roboto", sans-serif;
                font-weight: 300;
                font-size: 18px;
                line-height: 1.2rem;
                padding-top: 10px;
                padding-bottom: 10px;

                @media #{$mqTablet} {
                    line-height: 1.5rem;
                }
            }

            hr {
                width: 35%;
                height: 2px;
                background: linear-gradient(to left, $vert2, $vert4);
                border: none;
                margin-left: 0;
            }

            // Première slide

            .first-slide {
                width: 100vw;

                .first-slide__block {
                    position: relative;
                    min-height: 180px;
                    height: 50vw;
                    max-height: 400px;
                    display: flex;
                    flex-direction: row;
                    margin-top: 70px;

                    .first-slide__elements {
                        height: 100%;
                        width: 100%;

                        .block-image {
                            width: 100%;
                            height: 100%;
                            position: relative;
                            max-width: 1000px;

                            #computer-deco {
                                min-width: 180px;
                                width: 50%;
                                // max-width: 400px;
                                position: absolute;
                                top: 25%;
                                left: 15%;
                                // min-height: 125px;
                                // max-height: 204px;

                                // @media #{$mqTablet} {
                                //     width: 300px;
                                //     top: 45px;
                                //     left: 45px;
                                // }

                                @media screen and (min-width: 1250px) {
                                    width: 400px;
                                    top: 7rem;
                                    left: 160px;
                                }

                                @media #{$mqDesktop} {
                                    width: 500px;
                                    top: 11rem;
                                    left: 160px;
                                }
                            }

                            #leaves-deco {
                                min-width: 180px;
                                width: 60%;
                                position: absolute;
                                top: -15%;
                                left: 12%;
                                // min-height: 165px;
                                // max-height: 310px;


                                // @media #{$mqTablet} {
                                //     width: 325px;
                                //     top: -55px;
                                //     left: 30px;
                                // }

                                @media screen and (min-width: 1250px) {
                                    width: 475px;
                                    left: 125px;
                                    top: -25px;
                                }

                                @media #{$mqDesktop} {
                                    width: 500px;
                                    left: 150px;
                                    top: 1.5rem;
                                }


                            }

                            .green-block {
                                width: 75%;
                                // max-width: 750px;
                                height: 70%;
                                background-color: $vert2;
                                position: absolute;
                                border-radius: 0 500px 500px 0;
                                background: linear-gradient(160deg,
                                        $vert4 1%,
                                        $vert3 20%,
                                        $vert1 100%);

                                // @media #{$mqTablet} {
                                //     width: 450px;
                                //     height: 225px;
                                //     top: -50px;
                                // }

                                @media screen and (min-width: 1250px) {
                                    width: 683px;
                                    height: 250px;
                                    top: 3rem;
                                }

                                @media #{$mqDesktop} {
                                    width: 750px;
                                    height: 300px;
                                    top: 5rem;
                                }

                            }
                        }

                        #right-arrow {
                            width: 2.5rem;
                            position: absolute;
                            right: 10px;
                            top: 45px;

                            @media #{$mqTablet} {
                                width: 3.5rem;
                                top: 25px;
                                right: 15px;
                            }

                            @media screen and (min-width: 1250px) {
                                width: 4.5rem;
                                top: 7rem;
                                right: 2rem;
                                cursor: pointer;
                            }

                            @media #{$mqDesktop} {
                                width: 4.5rem;
                                top: 12rem;
                                right: 6rem;
                                cursor: pointer;
                            }

                        }


                        .paragraph-desk {
                            @media screen and (min-width: 1250px) {
                                position: absolute;
                                width: 450px;
                                right: 10%;
                                top: 2rem;

                                h2 {
                                    @media screen and (min-width: 1250px) {
                                        &::before {
                                            content: "\2022";
                                            margin-right: 15px;
                                            font-size: 75px;
                                            color: $vert3;
                                            position: absolute;
                                            left: -5px;
                                            top: -5px;

                                        }
                                    }

                                }

                                hr {
                                    @media screen and (min-width: 1250px) {
                                        height: 3px;
                                        width: 175px;
                                        margin: 1rem 0 1rem 0;
                                    }
                                }

                                span {
                                    @media screen and (min-width: 1250px) {
                                        font-family: "Montserrat";
                                        font-weight: 400;
                                        line-height: 2rem;
                                    }
                                }

                            }

                            @media #{$mqDesktop} {
                                position: absolute;
                                width: 450px;
                                right: 25rem;
                                top: 7rem;

                                h2 {
                                    @media #{$mqDesktop} {
                                        &::before {
                                            content: "\2022";
                                            margin-right: 15px;
                                            font-size: 75px;
                                            color: $vert3;
                                            position: absolute;
                                            left: -5px;
                                            top: -5px;

                                        }
                                    }

                                }

                                hr {
                                    @media #{$mqDesktop} {
                                        height: 3px;
                                        width: 200px;
                                        margin: 1rem 0 1rem 0;
                                    }
                                }

                                span {
                                    @media #{$mqDesktop} {
                                        font-family: "Montserrat";
                                        font-weight: 400;
                                        line-height: 2rem;
                                    }
                                }
                            }
                        }
                    }

                }

                .paragraph-mobile {
                    transform: translateY(-5vw);
                }

            }
        }

        //  Deuxième slide
        .second-slide {
            width: 100vw;

            .second-slide__block {
                position: relative;
                height: 200px;
                display: flex;
                flex-direction: row;
                margin-top: 100px;

                .paragraph-desk {
                    @media screen and (min-width: 1250px) {
                        position: absolute;
                        width: 500px;
                        left: 10rem;
                        top: 2rem;

                        &::before {
                            content: "\2022";
                            margin-right: 15px;
                            font-size: 55px;
                            color: $vert3;
                            position: absolute;
                            left: -10px;
                            top: 0px;

                        }
                    }

                    @media #{$mqDesktop} {
                        position: absolute;
                        width: 500px;
                        left: 18rem;
                        top: 7rem;

                        &::before {
                            content: "\2022";
                            margin-right: 15px;
                            font-size: 55px;
                            color: $vert3;
                            position: absolute;
                            left: -10px;
                            top: 0px;

                        }
                    }
                }


                #left-arrow {
                    width: 2.5rem;
                    position: absolute;
                    left: 10px;
                    top: 45px;
                    transform: rotate(180deg);

                    @media #{$mqTablet} {
                        width: 3.5rem;
                        top: 25px;
                        right: 15px;
                    }

                    @media screen and (min-width: 1250px) {
                        width: 4.5rem;
                        top: 7rem;
                        left: 2rem;
                        cursor: pointer;
                    }

                    @media #{$mqDesktop} {
                        width: 4.5rem;
                        top: 12rem;
                        left: 6rem;
                        cursor: pointer;
                    }

                }

                #camping {
                    position: absolute;
                    width: 250px;
                    right: 2rem;
                    bottom: 20px;

                    @media #{$mqTablet} {
                        width: 350px;
                        bottom: -30px;
                        right: 5rem;
                    }

                    @media screen and (min-width: 1250px) {
                        width: 1000px;
                        bottom: 0;
                        top: -5rem;
                        right: -7rem;
                        z-index: -1;
                    }

                    @media #{$mqDesktop} {
                        width: 1200px;
                        bottom: 0;
                        top: -5rem;
                        right: -3rem;
                        z-index: -1;
                    }
                }
            }
        }

    }
}