#calculateur {
	margin: 0;
	padding-top: 0;
}

#calc-main {
	padding: 0 1rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	z-index: 0;
	height: calc(100vh - 70px);

	//tags
	h1 {
		font-size: 1.75rem;
		margin: 1rem 0;
		line-height: 2rem;
	}

	form {
		position: relative;
		padding: 1rem;
		box-sizing: border-box;
		border-radius: 0.5rem;
		@extend %shadow;
		background-color: $blanc;
		font-size: 1rem;
		font-family: Montserrat;
		font-weight: 400;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		z-index: 0;
		width: 90vw;
		max-width: 896px;
		height: 350px;

		label {
			font-size: 0.8rem;
		}

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		input[type=number] {
			-moz-appearance: textfield;
		}

		input[type=text],
		input[type=email],
		input[type=tel],
		input[type=number] {
			border-width: 0 0 1px 0;
			border-color: #a0a0a0ff;

			&::placeholder {
				color: #c0c0c080;
			}
		}

		input {
			font-size: 1rem;
			outline: none;
			margin: 0.5rem 0;
			font-family: Montserrat;
		}

		input[type=submit] {
			border: none;
			font-size: 1.4rem;
			width: 100%;
			max-width: 480px;
			align-self: center;
			border-radius: 500px;
			padding: 0.5rem 1rem;
			background: linear-gradient(160deg, $vert4 0%, $vert3 33%, $vert2 67%, $vert1 100%);
			@extend %shadow-light-green;
			color: $blanc;
			white-space: normal;
			word-wrap: break-word;

			&:active {
				background: linear-gradient($vert1 0%, $vert1 100%);
				@extend %shadow-green;
			}
		}

		p.small-text {
			width: 90%;
			text-align: center;
			align-self: center;
		}
	}

	//classes
	//id
	#popupbg {
		position: absolute;
		width: 100vw;
		height: 100%;
		top: 0;
		left: 0;
	}

	#popup {
		font-family: Montserrat;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50vh;
		left: 50vw;
		z-index: 1;
		background-color: $blanc;
		padding: 2rem;
		border-radius: 2rem;
		width: 90vw;
		box-sizing: border-box;
		@extend %shadow;
	}
}

@media #{$mqTablet} {
	#calc-main {
		h1 {
			margin-top: 5vh;
		}

		form {
			margin-top: 5vh
		}
	}
}

@media #{$mqNotebookp} {

	#calc-main {
		padding-top: 10vh;
		min-height: calc(90vh - 70px);

		h1 {
			font-size: 3rem;
			margin-top: 0;
		}

		.desk-deco {

			&#leaves,
			&#leaf,
			&#fern {
				position: absolute;
				display: block;
				width: 300px;
				z-index: 0;
				transition: 1s;
			}

			&#leaves {
				transform: translate(-475px, -50px);

			}

			&#leaf {
				transform: translate(-475px, 250px) rotate(-10deg);
			}

			&#fern {
				transform: translate(500px, 250px) rotate(20deg);
			}

			&#top-right-circles {
				display: block;
				position: absolute;
				height: 450px;
				width: 425px;
				top: -375px;
				right: -350px;
				z-index: 1;

				#circle-1,
				#circle-2,
				#circle-3 {
					display: block;
					position: absolute;
					border-radius: 50%;
					background: $blanc;
					border-width: 25px;
					border-style: solid;
				}

				#circle-1 {
					border-radius: 50%;
					height: 120px;
					width: 120px;
					bottom: 0px;
					border-color: $vert1;
				}

				#circle-2 {
					height: 65px;
					width: 65px;
					right: 125px;
					top: 180px;
					border-color: $vert2;
				}

				#circle-3 {
					border-radius: 50%;
					height: 40px;
					width: 40px;
					right: 130px;
					bottom: 20px;
					border-color: $vert4;
				}
			}
		}

		form {
			width: 896px;
			max-width: 1080px;
			padding: 1rem 90px;
			height: 500px;
			margin-top: 3rem;
			max-height: unset;
			border-radius: 1.1rem;

			label {
				margin-top: 2rem;
			}

			input {

				&[type=submit] {
					width: fit-content;
					align-self: center;
					margin: 2rem 0;
				}
			}

			p {
				&.small-text {
					margin: 0;
					font-size: 0.75rem;
				}
			}
		}
	}
}

@media #{$mqDesktop} {

	#calc-main {

		h1 {
			margin-top: 1rem;
		}

		.desk-deco {

			&#leaves,
			&#leaf,
			&#fern {
				width: 425px;
			}

			&#leaves {
				transform: translate(-600px, -75px);
			}

			&#leaf {
				transform: translate(-600px, 250px) rotate(-10deg);
			}

			&#fern {
				transform: translate(575px, 250px) rotate(20deg);
			}

			&#top-right-circles {
				height: 475px;
				width: 450px;
				top: -375px;
				right: -375px;

				#circle-1,
				#circle-2,
				#circle-3 {
					border-width: 30px;
				}

				#circle-1 {
					height: 140px;
					width: 140px;
					bottom: 0px;
				}

				#circle-2 {
					height: 80px;
					width: 80px;
					right: 80px;
					top: 170px;
				}

				#circle-3 {
					height: 45px;
					width: 45px;
					right: 100px;
					bottom: 20px;
				}
			}
		}

		form {
			width: 1080px;
			padding: 1rem 120px;
		}
	}
}