#calculateur {
	margin: 0;
	padding-top: 0;
}

#calc-main {
	padding: 0 1rem;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-x: hidden;
	z-index: 0;
	height: calc(100vh - 70px);

	//tags
	h1 {
		font-size: 1.75rem;
		margin: 1rem 0;
		line-height: 2rem;
	}

	form {
		position: relative;
		padding: 1rem;
		box-sizing: border-box;
		border-radius: 0.5rem;
		@extend %shadow;
		background-color: $blanc;
		font-size: 1rem;
		font-family: Montserrat;
		font-weight: 400;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		z-index: 0;
		width: 90vw;
		height: 350px;

		label {
			font-size: 0.8rem;
		}

		input::-webkit-outer-spin-button,
		input::-webkit-inner-spin-button {
			-webkit-appearance: none;
			margin: 0;
		}

		input[type=number] {
			-moz-appearance: textfield;
		}

		input[type=text],
		input[type=email],
		input[type=tel],
		input[type=number] {
			border-width: 0 0 1px 0;
			border-color: #a0a0a0ff;

			&::placeholder {
				color: #c0c0c080;
			}
		}

		input {
			font-size: 1rem;
			outline: none;
			margin: 0.5rem 0;
			font-family: Montserrat;
		}

		input[type=submit] {
			border: none;
			font-size: 1.4rem;
			border-radius: 500px;
			padding: 0.5rem 1rem;
			background: linear-gradient(160deg, $vert4 0%, $vert3 33%, $vert2 67%, $vert1 100%);
			@extend %shadow-light-green;
			color: $blanc;
			white-space: normal;
			word-wrap: break-word;

			&:active {
				background: linear-gradient($vert1 0%, $vert1 100%);
				@extend %shadow-green;
			}
		}

		p.small-text {
			width: 90%;
			text-align: center;
			align-self: center;
		}
	}

	//classes
	//id
	#popupbg {
		position: absolute;
		width: 100vw;
		height: 100%;
		top: 0;
		left: 0;
	}

	#popup {
		font-family: Montserrat;
		position: absolute;
		transform: translate(-50%, -50%);
		top: 50vh;
		left: 50vw;
		z-index: 1;
		background-color: $blanc;
		padding: 2rem;
		border-radius: 2rem;
		width: 90vw;
		box-sizing: border-box;
		@extend %shadow;
	}
}

@media #{$mqTablet} {
	#calc-main {
		h1 {
			margin-top: 5vh;
		}

		form {
			margin-top: 5vh
		}
	}
}

@media #{$mqNotebookp} {

	#calc-main {
		padding-top: 10vh;
		min-height: calc(90vh - 70px);

		.desk-deco {

			&#leaves,
			&#leaf,
			&#fern {
				position: absolute;
				display: block;
				animation: apparition 2s forwards;
				width: 250px;
				z-index: 0;
				transition: 1s;
			}

			&#leaves {
				transform: translate(-40vw, -10vh);
			}

			&#leaf {
				transform: translate(-40vw, 30vh) rotate(-10deg);
			}

			&#fern {
				transform: translate(40vw, 30vh) rotate(20deg);
			}
		}

		.desk-deco {
			&#top-right-circles {
				display: block;
				animation: circles-appear 2s forwards;
				height: 18vw;
				width: 18vw;
				top: -200px;
				right: -5vw;

				#circle-1,
				#circle-2,
				#circle-3 {
					display: block;
					background: $blanc;
					border-width: 2vw;
					border-style: solid;
				}

				#circle-1 {
					width: 7vw;
					height: 7vw;
					border-color: $vert1;
				}

				#circle-2 {
					width: 4vw;
					height: 4.5vw;
					top: 50px;
					right: 0px;
					border-color: $vert2;
				}

				#circle-3 {
					width: 2.5vw;
					height: 2.7vw;
					bottom: -20px;
					right: 0px;
					border-color: $vert3;
				}
			}
		}

		form {
			width: 1200px;
			padding: 1rem 120px;

			input[type=submit] {
				width: fit-content;
			}
		}
	}

	#top-right-circles {
		opacity: 0;
		position: absolute;
		height: 500px;
		width: 500px;
		top: -400px;
		right: -400px;
		z-index: 1;
		transition: 1s;

		#circle-1 {
			position: absolute;
			border-radius: 50%;
			height: 160px;
			width: 160px;
			bottom: 0px;
		}

		#circle-2 {
			position: absolute;
			border-radius: 50%;
			height: 60px;
			width: 60px;
			right: 120px;
			bottom: -15px;
		}

		#circle-3 {
			position: absolute;
			border-radius: 50%;
			height: 100px;
			width: 100px;
			right: 110px;
			top: 190px;
		}
	}


	@keyframes apparition {
		0% {
			transform: translate(0px, 0px);
		}

		100% {
			transform: translate(inherit, inherit);
		}
	}

	@keyframes circles-appear {
		0% {
			opacity: 0;
			transform: scale(0);
		}

		100% {
			opacity: 1;
			transform: scale(1);
		}
	}
}