.contact {
  // margin: 0px 30px 30px !important;
  overflow: hidden;
  @include verticalCenter;
  flex-direction: column;

  @media #{$mqTabletp} {
    margin: 0 !important;
    padding: 52px 100px;
  }

  @media #{$mqNotebookp} {
    transform: scale(0.8) translateY(-50px);
    font-size: 18px;
    padding: 30px 90px 50px;
    overflow: visible;
  }

  @media #{$mqDesktop} {
    transform: scale(1) translateY(0px);
    padding: 100px 100px 120px;
    overflow: hidden;
  }

  /* ELEMENTS BG CACHES EN MOBILE */
  .contacts__bg-elements {
    display: none;

    @media #{$mqTabletp} {
      &#top-left-leaves {
        display: block;
      }

      &#bottom-right-leaf {
        display: block;
      }
    }

    @media #{$mqNotebookp} {
      &#top-right-circles {
        display: block;
        animation: circles-appear 0.5s forwards;
      }
      &#bottom-right-leaf {
        right: 300px;
      }
    }

    @media #{$mqDesktop} {
      &#bottom-left-leaf {
        display: block;
      }
      &#bottom-right-leaf {
        right: 500px;
      }
    }
  }

  #top-left-leaves {
    position: absolute;
    background-image: url("/img/leaves.svg");
    background-repeat: no-repeat;
    height: 500px;
    width: 500px;
    transform: scale(0.5) translate(-550px, -500px);
    z-index: -1;
    transition: 1s;
    @media #{$mqTabletp} {
      transform: scale(0.5) translate(-600px, -500px);
    }

    @media #{$mqNotebookp} {
      transform: scale(0.7) translate(-450px, -250px);
    }
  }

  #bottom-left-leaf {
    transform: translate(0, 0px);
    @media #{$mqDesktop} {
      position: absolute;
      background-image: url("/img/leaf.svg");
      background-repeat: no-repeat;
      z-index: -1;
      height: 500px;
      width: 500px;
      transform: scale(1) translate(-305px, 220px) rotate(-10deg);
      transition: 1s;
    }
  }

  #top-right-circles {
    @media #{$mqNotebookp} {
      opacity: 0;
      position: absolute;
      top: -400px;
      right: -400px;
      z-index: 1;
      transition: 1s;
      height: 300px;
      width: 300px;
      top: -200px;
      right: -200px;
    }
    #circle-1,
    #circle-2,
    #circle-3 {
      @media #{$mqNotebookp} {
        position: absolute;
        border-radius: 50%;
        background: $blanc;
        box-sizing: border-box;
      }
    }

    #circle-1 {
      @media #{$mqNotebookp} {
        border: 30px solid $vert1;
        bottom: -10px;
        left: -10px;
        height: 210px;
        width: 210px;
      }
    }

    #circle-2 {
      @media #{$mqNotebookp} {
        border: 30px solid $vert4;
        height: 105px;
        width: 105px;
        bottom: -30px;
        right: -30px;
      }
    }

    #circle-3 {
      @media #{$mqNotebookp} {
        border: 30px solid $vert3;
        height: 135px;
        width: 135px;
        top: 60px;
        right: -50px;
      }
    }
  }

  #bottom-right-leaf {
    position: absolute;
    background-image: url("/img/fern.svg");
    background-repeat: no-repeat;
    z-index: -1;
    height: 500px;
    width: 500px;
    transform: scale(0.5) translate(780px, 250px) rotate(20deg);
    transition: 1s;

    @media #{$mqNotebookp} {
      transform: scale(0.6) translate(980px, 250px) rotate(5deg);
    }

    @media #{$mqDesktop} {
      transform: scale(0.7) translate(1130px, 150px) rotate(5deg);
    }
  }

  /* FIN ELEMENT BG CACHES EN MOBILE */

  h1 {
    font-size: 1.7rem;
    font-weight: 600;
    color: $noir;
    margin-bottom: 25px;

    @media #{$mqTabletp} {
      text-align: center;
      margin-bottom: 40px;
    }

    @media #{$mqDesktop} {
      font-size: 2.5rem;
    }
  }

  .contact__form {
    position: relative;
    height: 550px;
    color: $noir;
    border-radius: 20px;
    background-color: $blanc;
    margin: 0px 30px 30px !important;

    &:before {
      content: "";
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: inherit;
      box-shadow: 0 0 25px 0px rgb(230, 230, 230);
      z-index: -2;
    }

    @media #{$mqTabletp} {
      height: 600px;
      width: 600px;
      margin: auto;
    }

    @media #{$mqNotebookp} {
      height: 650px;
      width: 1000px;
    }

    @media #{$mqDesktop} {
      width: 1000px;
    }

    .contact__form-container {
      height: 100%;

      form {
        height: 100%;
        padding: 25px 30px;
        color: $noir;
        display: flex;
        flex-direction: column;

        @media #{$mqTabletp} {
          height: 90%;
          flex-direction: row;
          flex-wrap: wrap;
          padding: 40px 80px;

          & > label:first-child {
            transform: translateY(240px);
          }

          #email {
            transform: translateY(240px);
          }
        }
        @media #{$mqNotebookp} {
          & > label:first-child {
            transform: translateY(270px);
          }

          #email {
            transform: translateY(270px);
          }
        }

        /* EXPLICATIONS CONCERNANT LE TRANSLATE */
        /* J'aurais du passer par un grid dés le départ. Je le saurais au prochain projet.
        Je n'ai pas envie de tout recommencer, donc je reste sur cette lancée car ça va fonctionner tout de même.
        J'admets que le code est moche du coup.
        Les éléments sont translates à chaque query, et donc c'est fait à la main.
        J'ai tout de même pris le temps pour que ça fasse un résultat soigné.
        Je vous prie de m'excuser pour ce code sale.
        */
        @media #{$mqDesktop} {
          justify-content: space-between;
          flex-direction: column;
          height: 80%;

          & > label:first-child {
            //EMAIL
            width: 45%;
            transform: translate(0px, 200px);
          }

          #email {
            // EMAIL
            width: 45%;
            transform: translate(0px, 200px);
          }

          & > label:nth-child(3) {
            //TELEPHONE
            width: 45%;
            transform: translate(455px, 80px);
          }

          #tel {
            // TELEPHONE
            width: 45%;
            transform: translate(455px, 80px);
          }
        }

        label,
        input,
        textarea {
          width: 100%;
          font-family: Roboto;
          outline: none;
        }

        input::placeholder,
        textarea::placeholder {
          color: lightgray;
          font-size: 1rem;
          @media #{$mqNotebookp} {
            font-size: 1.2rem;
          }

          @media #{$mqDesktop} {
            font-size: 1.2rem;
          }
        }

        label {
          display: block;
          margin-bottom: 10px;
          font-size: 1rem;
          @media #{$mqNotebookp} {
            font-size: 1.3rem;
          }
        }

        input {
          height: 30px;
          border: none;
          border-bottom: 1px solid rgb(212, 212, 212);
          margin-bottom: 30px;
          font-size: 0.95rem;
          padding-left: 3px;
          padding-bottom: 10px;

          @media #{$mqDesktop} {
            font-size: 1.2rem;
          }
        }

        .label__wrapped {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          width: 100%;

          input,
          label {
            width: 45%;
          }

          @media #{$mqTabletp} {
            transform: translateY(-240px);
          }
          @media #{$mqNotebookp} {
            transform: translateY(-260px);
          }
          @media #{$mqDesktop} {
            transform: translateY(-200px);
          }
        }

        textarea {
          height: 80px;
          border: none;
          border-bottom: 1px solid rgb(212, 212, 212);
          margin-bottom: 20px;
          font-size: 0.9rem;
          padding-left: 3px;
          // resize: none;

          @media #{$mqTabletp} {
            height: 30px;
          }

          @media #{$mqDesktop} {
            font-size: 1.2rem;
          }
        }

        input[type="submit"] {
          width: 100%;
          background: linear-gradient(
            160deg,
            $vert4 1%,
            $vert3 20%,
            $vert1 100%
          );
          box-shadow: 0 5px 22px 0px rgba(1, 82, 1, 0.56);
          color: white;
          padding: 10px;
          border: none;
          border-radius: 50px;
          margin-bottom: 0;
          cursor: pointer;
          font-size: 1.3rem;
          font-size-adjust: 0.5;
          height: 60px;
          min-width: 250px;
          max-width: 450px;
          margin: 20px auto;

          &:hover {
            background: $vert1;
          }

          @media #{$mqTabletp} {
            width: 170px;
            font-size: 1.1rem;
            margin: auto;
          }

          @media #{$mqNotebookp} {
            margin: 0;
            margin-left: auto;
            min-width: 100px;
            height: 50px;
            font-size: 1.3rem;
          }

          @media #{$mqDesktop} {
            transform: translateY(20px);
          }
        }
      }
    }
  }
}

@keyframes circles-appear {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}
