.index {
  font-family: Montserrat;
  padding: 0;
  margin: 0;
  align-items: center;
  background-color: #ffffff;
  justify-content: center;

  .title {
    position: relative;
    font-size: 24px;
    font-weight: 600;
    padding: 300px 20px 0 20px;
    letter-spacing: 0px;
  }

  .description {
    font-size: 11px;
    margin: 10px 20px 0 20px;
    line-height: 1.5;
    color: $noir;
  }

  .premier_btn {
    display: block;
    font-size: 16px;
    padding: 15px;
    text-align: center;
    margin: 20px auto 0;
    background: linear-gradient(160deg, $vert4 1%, $vert3 20%, $vert1 100%);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 700;
    width: 90%;
    color: $blanc;
    box-shadow: 0 5px 22px 0px rgba(1, 82, 1, 0.56);
  }

  .premier_btn:hover {
    background: $vert1;
  }

  .second_btn {
    background-color: #fff;
    color: #4caf50;
    border: 1px solid #4caf50;
    margin: 0 auto 25px;
    border-radius: 25px;
    display: block;
    font-weight: 500;
    cursor: pointer;
    padding: 15px;
    width: 90%;
    font-size: 1rem;
    transition: 0.2s;
  }

  .second_btn:hover {
    background: $vert1;
    color: $blanc;
    transition: 0.2s;
  }

  .texte_ou {
    text-align: center;
  }

  .image {
    width: 100vw;
    margin-top: 20px;
    // overflow: hidden;
    display: flex;
    justify-content: flex-end;
    height: 200px;

    img {
      height: 100%;
      border-radius: 50% 0 40% 50%;
    }
  }
}
