.index {
  overflow-x: hidden;
  font-family: Montserrat;
  padding: 0;
  margin: 0;
  align-items: center;
  background-color: #ffffff;
  justify-content: center;
  height: 90vh;
  .main {
    padding-bottom: 200px;
    @media #{$mqTabletp} {
      display: flex;
      flex-direction: row-reverse;
      padding-bottom: 0;
      height: 100%;
      overflow-y: hidden;
    }
  }

  .index__texte {
    @media #{$mqTabletp} {
      margin: 70px 20px 0 20px;
      width: 30%;
    }

    @media #{$mqNotebookp} {
      margin: 60px 100px 0 50px;
      width: 50%;
    }

    @media #{$mqDesktop} {
      margin-right: 200px;
      margin: 100px 200px 30px 90px;
    }

    .title {
      position: relative;
      font-size: 1.5rem;
      font-weight: 600;
      padding: 30px 20px 0 20px;
      letter-spacing: 0px;

      @media #{$mqNotebookp} {
        font-size: 2rem;
        padding: 30px 20px 0 0;
        line-height: 3rem;
      }

      @media #{$mqDesktop} {
        font-size: 2.2rem;
        padding-right: 150px;
      }
    }

    .description {
      font-size: 0.9rem;
      margin: 10px 20px 0 20px;
      line-height: 1.5;
      color: $noir;

      @media #{$mqTabletp} {
        font-size: 0.9rem;
        margin: 30px 20px;
      }

      @media #{$mqNotebookp} {
        font-size: 1.2rem;
        margin: 30px 100px 30px 0;
        line-height: 2.2rem;
        font-weight: 500;
      }

      @media #{$mqDesktop} {
        line-height: 2.4rem;
      }
    }
  }

  .button_container {
    @media screen and (min-width: 500px) and (max-width: 767px) {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 30px;
      * {
        margin: 0 !important;
      }
    }
    @media #{$mqNotebookp} {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
    }

    .premier_btn {
      display: block;
      font-size: 16px;
      padding: 15px;
      text-align: center;
      margin: 20px auto 0;
      background: linear-gradient(160deg, $vert4 1%, $vert3 20%, $vert1 100%);
      border: none;
      border-radius: 25px;
      cursor: pointer;
      font-weight: 700;
      width: 90%;
      color: $blanc;
      box-shadow: 0 5px 22px 0px rgba(1, 82, 1, 0.56);
      max-width: 200px;

      @media #{$mqTabletp} {
        font-size: 1.3rem;
        font-weight: normal;
      }

      @media #{$mqNotebookp} {
        margin: 0;
        padding: 18px 7px;
        border-radius: 500px;
        font-size: 1.3rem;
        font-weight: 400;
        width: 200px;
      }

      @media #{$mqDesktop} {
        border-radius: 500px;
        padding: 15px 8px;
        margin: 0;
        font-size: 1.5rem;
      }
    }

    .premier_btn:hover {
      background: $vert1;
    }

    .second_btn {
      background-color: #fff;
      color: $vert1;
      border: 1px solid $vert1;
      margin: 0 auto 25px;
      border-radius: 500px;
      display: block;
      font-weight: 500;
      cursor: pointer;
      padding: 15px;
      width: 90%;
      font-size: 1rem;
      transition: 0.2s;
      max-width: 200px;

      @media #{$mqTabletp} {
        font-size: 1.3rem;
      }

      @media #{$mqNotebookp} {
        margin: 0;
        padding: 18px 7px;
        font-size: 1.3rem;
        font-weight: 400;
        width: 200px;
      }

      @media #{$mqDesktop} {
        padding: 15px 8px;
        margin: 0;
        font-size: 1.3rem;
      }
    }

    .second_btn:hover {
      background: $vert1;
      color: $blanc;
      transition: 0.2s;
      box-shadow: 0 5px 22px 0px rgba(1, 82, 1, 0.56);
    }

    .texte_ou {
      text-align: center;

      @media #{$mqNotebookp} {
        font-size: 1rem;
      }
    }
  }

  .image {
    width: 75vw;
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    min-height: 200px;

    @media #{$mqTabletp} {
      width: 70%;
      margin-bottom: auto;
      transform: translateY(-50px);
    }
    @media #{$mqNotebookp} {
      max-height: max-content;
    }

    img {
      width: 100%;
      border-radius: 0 0 0 50%;
      @media #{$mqDesktop} {
        transform: translateY(-150px);
      }
    }
  }
}
