#mode-emploi {
    height: calc(100vh - 70px);
    width: 100vw;
    box-sizing: border-box;


    h1 {
        font-size: 1.7rem;
        line-height: 2rem;
        padding: 1rem 2rem 0;

        @media #{$mqNotebook} {
            padding-left: 5rem;
            padding-top: 2cqi;
        }
    }

    .slider {
        height: 350px;
        overflow: hidden;
        position: relative;

        @media #{$mqTablet} {
            height: 450px;
        }

        @media #{$mqNotebookp} {
            height: 600px;
        }

        .slides {
            display: flex;
            width: 500vw;
            height: 100%;
            transition: 0.2s;

            @media #{$mqNotebookp} {
                width: 100vw;
                // align-items: center;
                padding-top: 65px;
                justify-content: space-evenly;
            }

            .slide {
                width: 100vw;
                padding: 2rem;

                @media #{$mqTablet} {
                    padding: 3.5rem 2rem 2rem 2rem;
                }

                @media #{$mqNotebook} {
                    width: 300px;
                    height: 350px;

                    &#slide2 {
                        box-shadow: 0 0 20px 0 rgba(128, 128, 128, 0.185);
                        border-radius: 25px;

                    }
                }



                .slide__image {
                    height: 135px;
                    @include verticalCenter;

                    @media #{$mqTablet} {
                        height: 50%;


                        img {
                            height: 100%;
                        }

                    }


                    @media #{$mqNotebook} {
                        height: 40%;

                        img {
                            height: 100%;
                        }
                    }

                }

                .slide__paragraphe {
                    text-align: center;

                    @media #{$mqTablet} {
                        padding: 0 2rem;
                    }

                    h2 {
                        padding: 1rem 0 1.85rem;
                        font-size: 1.5rem;
                        font-family: "Montserrat";
                        font-weight: 500;

                        @media #{$mqTablet} {
                            padding: 3rem 0 2rem;
                        }

                        @media #{$mqNotebook} {
                            font-size: 1.2rem;
                        }
                    }

                    p {
                        font-family: "roboto";
                        font-size: 17px;
                        font-weight: 300;
                    }
                }

            }
        }
    }

    .slider__index {
        display: flex;
        justify-content: center;
        gap: 12px;
        padding-top: 20px;

        .index {
            background-color: $vert1;
            opacity: 40%;
            width: 12px;
            height: 12px;
            border-radius: 50%;

            &.active {
                opacity: 100%;
            }
        }
    }

    .btn {
        background: none;
        background-image: url("../../img/right-arrow.svg");
        border: none;
        width: 50px;
        height: 50px;
        background-size: cover;
        position: absolute;
        top: 90px;
        cursor: pointer;
        z-index: 1;

        @media #{$mqTablet} {
            top: 120px;
            width: 70px;
            height: 70px;
        }

        @media #{$mqNotebookp} {
            display: none;
        }

        &.right {
            right: 0;

            @media #{$mqTablet} {
                right: 1rem;
            }
        }

        &.left {
            rotate: 180deg;

            @media #{$mqTablet} {
                left: 1rem;
            }
        }
    }
}