.velib {
  background: $blanc;
  font-family: Montserrat;
  height: 100vh;
  max-width: 400px;
  min-width: 350px;
  @include verticalCenter;
  flex-direction: column;
  margin: auto;
  .velib__countdown {
    padding-top: 50px;
    height: 130px;
    width: 100%;
    @include verticalCenter;
    .velib__countdown-container {
      height: 60px;
      width: 70%;
      display: flex;
      justify-content: space-between;
      .velib__compteur {
        position: relative;
        height: 100%;
        width: 22%;
        background: rgb(1,153,97);
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        padding-bottom: 7px;
        font-size: 1.7rem;
        font-family: Roboto;
        user-select: none;
        em {
          position: absolute;
          font-size: 0.55rem;
          bottom: 7px;
          letter-spacing: 0.5px;
        }
      }
    }
  }
  .velib__description {
    margin: 0px 30px 0px;
    text-align: center;
    h2 {
      font-size: 2rem;
      margin: 0 0 20px 0;
      font-weight: 500;
    }
    p {
      line-height: 25px;
      font-size: 0.9rem;
      font-weight: 500;
    }
  }
}